# Sech_kwd_매핑

## 1. 온라인 행동데이터 내 검색 키워드(sech_kwd)를 활용한 상품 대분류(clac_nm1) 매핑

 * 1. 온라인 행동데이터 내 검색 키워드(1-10.sech_kwd)은 약 10만개의 단어로 이루어짐
 * 이 중에서 3번 이상 검색된 키워드(29900개)를 추출
 * 웹 스크래이핑을 활용하여 추출한 단어를 롯데홈쇼핑 메인 페이지에서 검색한 후, 나오는 결과 중
   '카테고리' 창에 나오는 키워드를 추출하여 테이블로 저장
 * 해당 키워드 중 2번째 키워드(검색어에 대한 가장 많은 수의 물품에 대한 분류명)와 유사한 상품 대분류명(4-2.clac_nm1)을 매핑하여 입력 데이터의
   컬럼으로 추가

 * 라이브러리 호출

In [90]:
import numpy as np
import pandas as pd
import os
from collections import Counter
import datetime
from random import *
import re
import requests
from tqdm import tqdm


import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.font_manager as fm
from matplotlib.font_manager import fontManager
import plotly as py
import plotly.express as px
from pprint import pprint

import lxml
import bs4
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import seaborn as sns
import cufflinks as cf
%matplotlib notebook
cf.go_offline()

 * 폰트

In [91]:
for font in fontManager.ttflist:
    if 'Mal' in font.name:
        print(font.name)
plt.rc('font', family='Malgun Gothic')

Lohit Malayalam
Samyak Malayalam
RaghuMalayalam

 * 데이터 파일 불러오기
     * merge_raw.cav = 1. 온라인 행동 정보, 2. 거래정보, 3 사용자정보, 4.상품분류명을 모두 합친 데이터

In [92]:
# col_dtype = {'act_kwd':'str'}

In [134]:
merge_table = pd.read_csv('./merge_raw_1234.csv')
# merge_table = pd.read_csv('./merge_raw_1234.csv', dtype=col_dtype)
merge_table = merge_table.drop(['Unnamed: 0'], axis=1)

/home/aiffel0042/anaconda3/envs/aiffel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning:

Columns (17,27) have mixed types.Specify dtype option on import or set low_memory=False.

In [135]:
merge_table.head()

,clnt_id,sess_id,hit_seq,action_type,biz_unit,sess_dt,hit_tm,hit_pss_tm,trans_id,sech_kwd,...,de_dt,de_tm,buy_am,buy_ct,clnt_gender,clnt_age,clac_nm1,clac_nm2,clac_nm3,pd_c_2
0,72429,1,2,2,A03,20190919,22:09,842130,NaN,NaN,...,NaN,NaN,NaN,NaN,unknown,unknown,NaN,NaN,NaN,NaN
1,72429,1,1,1,A03,20190919,22:09,839064,NaN,NaN,...,NaN,NaN,NaN,NaN,unknown,unknown,NaN,NaN,NaN,NaN
2,72428,5,1,0,A01,20190918,06:37,12568,NaN,라인에디션블라우스,...,NaN,NaN,NaN,NaN,unknown,unknown,NaN,NaN,NaN,NaN
3,72428,4,1,0,A01,20190914,23:42,243555,NaN,펜디가방,...,NaN,NaN,NaN,NaN,unknown,unknown,NaN,NaN,NaN,NaN
4,72428,3,3,0,A01,20190914,21:50,839771,NaN,페레가모가방,...,NaN,NaN,NaN,NaN,unknown,unknown,NaN,NaN,NaN,NaN

 * 3번 이상 검색된 단어 불러오기

In [136]:
sech_kwd = merge_table['sech_kwd'].value_counts()
sech_kwd = sech_kwd[sech_kwd >= 3]
sech_kwd

우유           8985
두부           5210
계란           5039
생수           4283
수박           2694
             ...
생삼겹살            3
오뚜기 꼬리곰탕        3
wd40            3
더나무             3
에스티엘여성수영복       3
Name: sech_kwd, Length: 29900, dtype: int64

In [138]:
len(sech_kwd_list)

29900

 * 3번 이상 검색된 단어만 따로 열 만들기

In [139]:
merge_table['act_kwd_over3'] = merge_table['act_kwd'][merge_table['act_kwd'].isin(sech_kwd_list)]
merge_table['act_kwd_over3']

0             NaN
1             NaN
2             NaN
3            펜디가방
4          페레가모가방
            ...
3196357       NaN
3196358       NaN
3196359     과일바구니
3196360       NaN
3196361    과일선물세트
Name: act_kwd_over3, Length: 3196362, dtype: object

In [140]:
merge_table['act_kwd_over3'].nunique()

29900

In [13]:
# Selenium이 사용할 브라우저 선택 및 크롬 드라이버 실행
driver=webdriver.Chrome('./chromedriver')

In [78]:
# 웹 페이지를 읽어오기
driver.get('http://www.lotteimall.com/main/viewMain.lotte?dpml_no=1&tlog=00100_1')

# find_element_by_id : id 속성으로 요소 하나 추출

a_element1=driver.find_element_by_id('headerQuery') # headerQuery : 검색어 입력 창
a_element1.click()                                  # 해당 요소를 클릭
a_element1.send_keys('로가디스')                     # 키를 입력


a_element2=driver.find_element_by_id("btn_headerSearch") # btn_headerSearch : 검색 버튼
a_element2.click()

a_element3=driver.find_element_by_class_name("content_category")

In [79]:
a_element3.text

'패션의류/언더웨어\n남성정장/셔츠 (1,133)\n남성캐주얼 (822)\n진/유니섹스 (52)\n명품/쥬얼리\n시계/보석/쥬얼리 (221)\n스포츠/레저\n스포츠패션/슈즈 (37)\n영플라자\n진/유니섹스 (26)\n롯데백화점\n진/유니섹스 (12)\n남성정장/셔츠 (3)\n남성캐주얼 (1)'

In [80]:
a_element4=a_element3.text.split('\n')

In [81]:
a_element4

['패션의류/언더웨어',
 '남성정장/셔츠 (1,133)',
 '남성캐주얼 (822)',
 '진/유니섹스 (52)',
 '명품/쥬얼리',
 '시계/보석/쥬얼리 (221)',
 '스포츠/레저',
 '스포츠패션/슈즈 (37)',
 '영플라자',
 '진/유니섹스 (26)',
 '롯데백화점',
 '진/유니섹스 (12)',
 '남성정장/셔츠 (3)',
 '남성캐주얼 (1)']

In [82]:
test=[]
for i in range(len(a_element4)):
    text = re.sub(r'\([^)]*\)', repl='', string=a_element4[i])
    text=text.rstrip()
    test.append(text)
a_element5=pd.Series(test,name=1)

In [83]:
a_element5

0     패션의류/언더웨어
1       남성정장/셔츠
2         남성캐주얼
3        진/유니섹스
4        명품/쥬얼리
5     시계/보석/쥬얼리
6        스포츠/레저
7      스포츠패션/슈즈
8          영플라자
9        진/유니섹스
10        롯데백화점
11       진/유니섹스
12      남성정장/셔츠
13        남성캐주얼
Name: 1, dtype: object

In [ ]:
-------------------------------------------------------------------------------------------------------------------

In [49]:
act_kwd_cat=pd.Series(['시작'],name='start')
act_kwd_cat

driver=webdriver.Chrome('./chromedriver')  # Selenium이 사용할 브라우저 선택 및 크롬 드라이버 실행

# 1000개만 먼저
# 열 추가 방식
for i in tqdm(range(1000)):
    
#     driver.implicitly_wait(2)
    driver.get('http://www.lotteimall.com/main/viewMain.lotte?dpml_no=1&tlog=00100_1')
    a_element1=driver.find_element_by_id('headerQuery')
    a_element1.click()
    a_element1.send_keys(act_kwd_over3[i])
    a_element2=driver.find_element_by_id("btn_headerSearch")
    a_element2.click()
    try:
        if ('결과' in driver.find_element_by_class_name('center').text) == True:

            a_element3=driver.find_element_by_class_name("content_category")
            a_element4=a_element3.text.split('\n')
            test=[]
            for j in range(len(a_element4)):
                text = re.sub(r'\([^)]*\)', repl='', string=a_element4[j])
                text=text.rstrip()
                test.append(text)
            a_element5=pd.Series(test,name=i)
            act_kwd_cat=pd.concat([act_kwd_cat,a_element5],axis=1)
        else:
            a_element6=pd.Series(['검색이 되지 않는다'],name=i)
            act_kwd_cat=pd.concat([act_kwd_cat,a_element6],axis=1)
    except:
        a_element6=pd.Series(['아예 검색 없음'],name=i)
        act_kwd_cat=pd.concat([act_kwd_cat,a_element6],axis=1)

# 파일 저장
act_kwd_cat.to_csv("sample_over3_1000.csv", mode='w')

100%|██████████| 1000/1000 [56:17<00:00,  3.38s/it]

 * 1000 ~ 2000 번

In [59]:
act_kwd_cat=pd.Series(['시작'],name='start')
act_kwd_cat

driver=webdriver.Chrome('./chromedriver')  # Selenium이 사용할 브라우저 선택 및 크롬 드라이버 실행

# 1000개만 먼저
# 열 추가 방식
for i in tqdm(range(29000, 29900)):
    
#     driver.implicitly_wait(2)
    driver.get('http://www.lotteimall.com/main/viewMain.lotte?dpml_no=1&tlog=00100_1')
    a_element1=driver.find_element_by_id('headerQuery')
    a_element1.click()
    a_element1.send_keys(act_kwd_over3[i])
    a_element2=driver.find_element_by_id("btn_headerSearch")
    a_element2.click()
    try:
        if ('결과' in driver.find_element_by_class_name('center').text) == True:

            a_element3=driver.find_element_by_class_name("content_category")
            a_element4=a_element3.text.split('\n')
            test=[]
            for j in range(len(a_element4)):
                text = re.sub(r'\([^)]*\)', repl='', string=a_element4[j])
                text=text.rstrip()
                test.append(text)
            a_element5=pd.Series(test,name=i)
            act_kwd_cat=pd.concat([act_kwd_cat,a_element5],axis=1)
        else:
            a_element6=pd.Series(['검색이 되지 않는다'],name=i)
            act_kwd_cat=pd.concat([act_kwd_cat,a_element6],axis=1)
    except:
        a_element6=pd.Series(['아예 검색 없음'],name=i)
        act_kwd_cat=pd.concat([act_kwd_cat,a_element6],axis=1)

# 파일 저장
act_kwd_cat.to_csv("sample_over3_29900.csv", mode='w')

100%|██████████| 900/900 [45:46<00:00,  3.05s/it]

 * 롯데 홈쇼핑몰에서 추출한 카테고리 키워드 가져오기

In [101]:
cat_kwd_1 = pd.read_csv("./sample_over3_1000.csv")
cat_kwd_1 = cat_kwd_1.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_2 = pd.read_csv("./sample_over3_2000.csv")
cat_kwd_2 = cat_kwd_2.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_3 = pd.read_csv("./sample_over3_3000.csv")
cat_kwd_3 = cat_kwd_3.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_4 = pd.read_csv("./sample_over3_4000.csv")
cat_kwd_4 = cat_kwd_4.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_5 = pd.read_csv("./sample_over3_5000.csv")
cat_kwd_5 = cat_kwd_5.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_6 = pd.read_csv("./sample_over3_6000.csv")
cat_kwd_6 = cat_kwd_6.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_7 = pd.read_csv("./sample_over3_7000.csv")
cat_kwd_7 = cat_kwd_7.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_8 = pd.read_csv("./sample_over3_8000.csv")
cat_kwd_8 = cat_kwd_8.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_9 = pd.read_csv("./sample_over3_9000.csv")
cat_kwd_9 = cat_kwd_9.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_10 = pd.read_csv("./sample_over3_10000.csv")
cat_kwd_10 = cat_kwd_10.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_11 = pd.read_csv("./sample_over3_11000.csv")
cat_kwd_11 = cat_kwd_11.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_12 = pd.read_csv("./sample_over3_12000.csv")
cat_kwd_12 = cat_kwd_12.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_13 = pd.read_csv("./sample_over3_13000.csv")
cat_kwd_13 = cat_kwd_13.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_14 = pd.read_csv("./sample_over3_14000.csv")
cat_kwd_14 = cat_kwd_14.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_15 = pd.read_csv("./sample_over3_15000.csv")
cat_kwd_15 = cat_kwd_15.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_16 = pd.read_csv("./sample_over3_16000.csv")
cat_kwd_16 = cat_kwd_16.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_17 = pd.read_csv("./sample_over3_17000.csv")
cat_kwd_17 = cat_kwd_17.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_18 = pd.read_csv("./sample_over3_18000.csv")
cat_kwd_18 = cat_kwd_18.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_19 = pd.read_csv("./sample_over3_19000.csv")
cat_kwd_19 = cat_kwd_19.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_20 = pd.read_csv("./sample_over3_20000.csv")
cat_kwd_20 = cat_kwd_20.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_21 = pd.read_csv("./sample_over3_21000.csv")
cat_kwd_21 = cat_kwd_21.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_22 = pd.read_csv("./sample_over3_22000.csv")
cat_kwd_22 = cat_kwd_22.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_23 = pd.read_csv("./sample_over3_23000.csv")
cat_kwd_23 = cat_kwd_23.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_24 = pd.read_csv("./sample_over3_24000.csv")
cat_kwd_24 = cat_kwd_24.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_25 = pd.read_csv("./sample_over3_25000.csv")
cat_kwd_25 = cat_kwd_25.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_26 = pd.read_csv("./sample_over3_26000.csv")
cat_kwd_26 = cat_kwd_26.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_27 = pd.read_csv("./sample_over3_27000.csv")
cat_kwd_27 = cat_kwd_27.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_28 = pd.read_csv("./sample_over3_28000.csv")
cat_kwd_28 = cat_kwd_28.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_29 = pd.read_csv("./sample_over3_29000.csv")
cat_kwd_29 = cat_kwd_29.drop(['Unnamed: 0', 'start'], axis=1)
cat_kwd_299 = pd.read_csv("./sample_over3_29900.csv")
cat_kwd_299 = cat_kwd_299.drop(['Unnamed: 0', 'start'], axis=1)

In [102]:
act_kwd_over3[2]

'루이비통'

In [103]:
cat_kwd_1.head(3)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,명품/쥬얼리,명품/쥬얼리,명품/쥬얼리,명품/쥬얼리,패션의류/언더웨어,식품,패션의류/언더웨어,식품,가구/침구/인테리어,검색이 되지 않는다,...,가구/침구/인테리어,식품,주방/생활/건강,식품,식품,식품,패션의류/언더웨어,패션의류/언더웨어,가구/침구/인테리어,가전/디지털
1,수입명품/해외배송,수입명품/해외배송,수입명품/해외배송,수입명품/해외배송,언더웨어,즉석/가공식품,여성트랜드의류,건강식품/홍삼,홈데코/인테리어,NaN,...,홈데코/인테리어,즉석/가공식품,주방,즉석/가공식품,신선식품,즉석/가공식품,여성브랜드의류,여성브랜드의류,홈데코/인테리어,TV/냉장고/세탁기/계절가...
2,스포츠/레저,스포츠/레저,주방/생활/건강,시계/보석/쥬얼리,여성브랜드의류,음료/커피/간식,여성브랜드의류,NaN,침구/커튼/카페트,NaN,...,전문매장,신선식품,문구/악기/도서/취미,여행/렌탈/금융,즉석/가공식품,음료/커피/간식,여성트랜드의류,여성트랜드의류,침실가구,카메라/캠코더/드론

In [104]:
cat_kwd_1_list = list(cat_kwd_1.iloc[0])
cat_kwd_2_list = list(cat_kwd_2.iloc[0])
cat_kwd_3_list = list(cat_kwd_3.iloc[0])
cat_kwd_4_list = list(cat_kwd_4.iloc[0])
cat_kwd_5_list = list(cat_kwd_5.iloc[0])
cat_kwd_6_list = list(cat_kwd_6.iloc[0])
cat_kwd_7_list = list(cat_kwd_7.iloc[0])
cat_kwd_8_list = list(cat_kwd_8.iloc[0])
cat_kwd_9_list = list(cat_kwd_9.iloc[0])
cat_kwd_10_list = list(cat_kwd_10.iloc[0])
cat_kwd_11_list = list(cat_kwd_11.iloc[0])
cat_kwd_12_list = list(cat_kwd_12.iloc[0])
cat_kwd_13_list = list(cat_kwd_13.iloc[0])
cat_kwd_14_list = list(cat_kwd_14.iloc[0])
cat_kwd_15_list = list(cat_kwd_15.iloc[0])
cat_kwd_16_list = list(cat_kwd_16.iloc[0])
cat_kwd_17_list = list(cat_kwd_17.iloc[0])
cat_kwd_18_list = list(cat_kwd_18.iloc[0])
cat_kwd_19_list = list(cat_kwd_19.iloc[0])
cat_kwd_20_list = list(cat_kwd_20.iloc[0])
cat_kwd_21_list = list(cat_kwd_21.iloc[0])
cat_kwd_22_list = list(cat_kwd_22.iloc[0])
cat_kwd_23_list = list(cat_kwd_23.iloc[0])
cat_kwd_24_list = list(cat_kwd_24.iloc[0])
cat_kwd_25_list = list(cat_kwd_25.iloc[0])
cat_kwd_26_list = list(cat_kwd_26.iloc[0])
cat_kwd_27_list = list(cat_kwd_27.iloc[0])
cat_kwd_28_list = list(cat_kwd_28.iloc[0])
cat_kwd_29_list = list(cat_kwd_29.iloc[0])
cat_kwd_299_list = list(cat_kwd_299.iloc[0])

cat_kwd_list = cat_kwd_1_list + cat_kwd_2_list + cat_kwd_3_list + cat_kwd_4_list + cat_kwd_5_list \
               + cat_kwd_6_list + cat_kwd_7_list + cat_kwd_8_list + cat_kwd_9_list + cat_kwd_10_list \
               + cat_kwd_11_list + cat_kwd_12_list + cat_kwd_13_list + cat_kwd_14_list + cat_kwd_15_list \
               + cat_kwd_16_list + cat_kwd_17_list + cat_kwd_18_list + cat_kwd_19_list + cat_kwd_20_list \
               + cat_kwd_21_list + cat_kwd_22_list + cat_kwd_23_list + cat_kwd_24_list + cat_kwd_25_list \
               + cat_kwd_26_list + cat_kwd_27_list + cat_kwd_28_list + cat_kwd_29_list + cat_kwd_299_list

In [105]:
len(cat_kwd_list)

29900

In [107]:
cat_1kwd_1_list = list(cat_kwd_1.iloc[1])
cat_1kwd_2_list = list(cat_kwd_2.iloc[1])
cat_1kwd_3_list = list(cat_kwd_3.iloc[1])
cat_1kwd_4_list = list(cat_kwd_4.iloc[1])
cat_1kwd_5_list = list(cat_kwd_5.iloc[1])
cat_1kwd_6_list = list(cat_kwd_6.iloc[1])
cat_1kwd_7_list = list(cat_kwd_7.iloc[1])
cat_1kwd_8_list = list(cat_kwd_8.iloc[1])
cat_1kwd_9_list = list(cat_kwd_9.iloc[1])
cat_1kwd_10_list = list(cat_kwd_10.iloc[1])
cat_1kwd_11_list = list(cat_kwd_11.iloc[1])
cat_1kwd_12_list = list(cat_kwd_12.iloc[1])
cat_1kwd_13_list = list(cat_kwd_13.iloc[1])
cat_1kwd_14_list = list(cat_kwd_14.iloc[1])
cat_1kwd_15_list = list(cat_kwd_15.iloc[1])
cat_1kwd_16_list = list(cat_kwd_16.iloc[1])
cat_1kwd_17_list = list(cat_kwd_17.iloc[1])
cat_1kwd_18_list = list(cat_kwd_18.iloc[1])
cat_1kwd_19_list = list(cat_kwd_19.iloc[1])
cat_1kwd_20_list = list(cat_kwd_20.iloc[1])
cat_1kwd_21_list = list(cat_kwd_21.iloc[1])
cat_1kwd_22_list = list(cat_kwd_22.iloc[1])
cat_1kwd_23_list = list(cat_kwd_23.iloc[1])
cat_1kwd_24_list = list(cat_kwd_24.iloc[1])
cat_1kwd_25_list = list(cat_kwd_25.iloc[1])
cat_1kwd_26_list = list(cat_kwd_26.iloc[1])
cat_1kwd_27_list = list(cat_kwd_27.iloc[1])
cat_1kwd_28_list = list(cat_kwd_28.iloc[1])
cat_1kwd_29_list = list(cat_kwd_29.iloc[1])
cat_1kwd_299_list = list(cat_kwd_299.iloc[1])

cat_1kwd_list = cat_1kwd_1_list + cat_1kwd_2_list + cat_1kwd_3_list + cat_1kwd_4_list + cat_1kwd_5_list \
               + cat_1kwd_6_list + cat_1kwd_7_list + cat_1kwd_8_list + cat_1kwd_9_list + cat_1kwd_10_list \
               + cat_1kwd_11_list + cat_1kwd_12_list + cat_1kwd_13_list + cat_1kwd_14_list + cat_1kwd_15_list \
               + cat_1kwd_16_list + cat_1kwd_17_list + cat_1kwd_18_list + cat_1kwd_19_list + cat_1kwd_20_list \
               + cat_1kwd_21_list + cat_1kwd_22_list + cat_1kwd_23_list + cat_1kwd_24_list + cat_1kwd_25_list \
               + cat_1kwd_26_list + cat_1kwd_27_list + cat_1kwd_28_list + cat_1kwd_29_list + cat_1kwd_299_list

In [108]:
len(cat_1kwd_list)

29900

In [ ]:
-------------------------------------------------------------------------------------------------------------------

* 중복 제거한 카테고리 키워드 갯수 확인

In [112]:
cat_kwd_set = set(cat_kwd_list)

In [113]:
len(cat_kwd_set)

20

In [114]:
cat_kwd_set

{'TV쇼핑',
 'U아동관',
 'e카탈로그',
 '가구/침구/인테리어',
 '가전/디지털',
 '검색이 되지 않는다',
 '롯데백화점',
 '롯데아울렛',
 '명품/쥬얼리',
 '반려동물',
 '스포츠/레저',
 '식품',
 '아예 검색 없음',
 '여행/렌탈/금융',
 '영플라자',
 '잡화/슈즈',
 '전문매장',
 '주방/생활/건강',
 '패션의류/언더웨어',
 '화장품/미용'}

In [115]:
cat_1kwd_set = set(cat_1kwd_list)
len(cat_1kwd_set)

72

 * 3번 이상 검색된 키워드와 그 키워드 검색에 따른 롯데홈쇼핑 카테고리를 연결한 table 데이터 선언
     * sech_kwd_over_3 : 3번 이상 검색된 키워드
     * sech_kwd_cat : 3번 이상 검색된 키워드를 롯데홈쇼핑몰에서 검색하여 나온 카테고리 키워드

In [117]:
sech_kwd_cat_dict = {'sech_kwd_over_3':act_kwd_over3, 'sech_kwd_cat_0':cat_kwd_list, 'sech_kwd_cat_1':cat_1kwd_list}
sech_kwd_cat_table = pd.DataFrame(sech_kwd_cat_dict)

In [118]:
sech_kwd_cat_table

      sech_kwd_over_3 sech_kwd_cat_0 sech_kwd_cat_1
0                펜디가방         명품/쥬얼리      수입명품/해외배송
1              페레가모가방         명품/쥬얼리      수입명품/해외배송
2                루이비통         명품/쥬얼리      수입명품/해외배송
3                  구찌         명품/쥬얼리      수입명품/해외배송
4                속옷세트      패션의류/언더웨어           언더웨어
...               ...            ...            ...
29895          쉬폰밴딩팬츠      패션의류/언더웨어        여성브랜드의류
29896     anf 유기농 양고기           반려동물           반려동물
29897          드립 여과지       주방/생활/건강             주방
29898           옥수수수프             식품       음료/커피/간식
29899            레쓰비ㅣ     검색이 되지 않는다            NaN

[29900 rows x 3 columns]

 * Table 파일 저장

In [119]:
sech_kwd_cat_table.to_csv("sech_kwd01_cat.csv", mode='w')

 * cat1과 대분류를 매칭시킨 table 불러오기

In [123]:
cat1_to_clac_nm1 = pd.read_csv("kwd_to_clac_nm1.csv", header=0)

In [124]:
cat1_to_clac_nm1

   sech_kwd_cat_1             clac_nm1
0         즉석/가공식품         Cooked Foods
1         여성트랜드의류     Women's Clothing
2        음료/커피/간식          Snack Foods
3        스포츠패션/슈즈        Sport Fashion
4            신선식품        Chilled Foods
..            ...                  ...
66           TV쇼핑                  NaN
67           여성의류     Women's Clothing
68         디자이너슈즈  Fashion Accessories
69         장터_라운지                  NaN
70          키친갤러리          Kitchenware

[71 rows x 2 columns]

In [126]:
sech_kwd_cat_table = pd.merge(sech_kwd_cat_table, cat1_to_clac_nm1, on = 'sech_kwd_cat_1', how = 'left')

In [132]:
sech_kwd_cat_table.rename(columns = {'clac_nm1' : 'sech_clac_nm1'}, inplace = True)

In [133]:
sech_kwd_cat_table

,sech_kwd_over_3,sech_kwd_cat_0,sech_kwd_cat_1,sech_clac_nm1
0,펜디가방,명품/쥬얼리,수입명품/해외배송,Fashion Accessories
1,페레가모가방,명품/쥬얼리,수입명품/해외배송,Fashion Accessories
2,루이비통,명품/쥬얼리,수입명품/해외배송,Fashion Accessories
3,구찌,명품/쥬얼리,수입명품/해외배송,Fashion Accessories
4,속옷세트,패션의류/언더웨어,언더웨어,Underwear / Socks and Hosiery / Homewear
...,...,...,...,...
29895,쉬폰밴딩팬츠,패션의류/언더웨어,여성브랜드의류,Women's Clothing
29896,anf 유기농 양고기,반려동물,반려동물,Gardening / Pets
29897,드립 여과지,주방/생활/건강,주방,Kitchenware
29898,옥수수수프,식품,음료/커피/간식,Snack Foods
29899,레쓰비ㅣ,검색이 되지 않는다,NaN,NaN

In [141]:
merge_table.head()

,clnt_id,sess_id,hit_seq,action_type,biz_unit,sess_dt,hit_tm,hit_pss_tm,trans_id,sech_kwd,...,de_tm,buy_am,buy_ct,clnt_gender,clnt_age,clac_nm1,clac_nm2,clac_nm3,pd_c_2,act_kwd_over3
0,72429,1,2,2,A03,20190919,22:09,842130,NaN,NaN,...,NaN,NaN,NaN,unknown,unknown,NaN,NaN,NaN,NaN,NaN
1,72429,1,1,1,A03,20190919,22:09,839064,NaN,NaN,...,NaN,NaN,NaN,unknown,unknown,NaN,NaN,NaN,NaN,NaN
2,72428,5,1,0,A01,20190918,06:37,12568,NaN,라인에디션블라우스,...,NaN,NaN,NaN,unknown,unknown,NaN,NaN,NaN,NaN,NaN
3,72428,4,1,0,A01,20190914,23:42,243555,NaN,펜디가방,...,NaN,NaN,NaN,unknown,unknown,NaN,NaN,NaN,NaN,펜디가방
4,72428,3,3,0,A01,20190914,21:50,839771,NaN,페레가모가방,...,NaN,NaN,NaN,unknown,unknown,NaN,NaN,NaN,NaN,페레가모가방

 ## 입력 데이터 병합

In [142]:
merge_table = pd.merge(merge_table, sech_kwd_cat_table, left_on = 'act_kwd_over3', right_on ='sech_kwd_over_3', how='left')

In [143]:
merge_table

,clnt_id,sess_id,hit_seq,action_type,biz_unit,sess_dt,hit_tm,hit_pss_tm,trans_id,sech_kwd,...,clnt_age,clac_nm1,clac_nm2,clac_nm3,pd_c_2,act_kwd_over3,sech_kwd_over_3,sech_kwd_cat_0,sech_kwd_cat_1,sech_clac_nm1
0,72429,1,2,2,A03,20190919,22:09,842130,NaN,NaN,...,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,72429,1,1,1,A03,20190919,22:09,839064,NaN,NaN,...,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,72428,5,1,0,A01,20190918,06:37,12568,NaN,라인에디션블라우스,...,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,72428,4,1,0,A01,20190914,23:42,243555,NaN,펜디가방,...,unknown,NaN,NaN,NaN,NaN,펜디가방,펜디가방,명품/쥬얼리,수입명품/해외배송,Fashion Accessories
4,72428,3,3,0,A01,20190914,21:50,839771,NaN,페레가모가방,...,unknown,NaN,NaN,NaN,NaN,페레가모가방,페레가모가방,명품/쥬얼리,수입명품/해외배송,Fashion Accessories
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196357,1,2,2,0,A01,20190922,14:10,56113,NaN,초등가을점퍼,...,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3196358,1,2,1,0,A01,20190922,14:09,41584,NaN,초등가을잠바,...,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3196359,1,1,3,0,A01,20190911,16:15,36140,NaN,과일바구니,...,unknown,NaN,NaN,NaN,NaN,과일바구니,과일바구니,여행/렌탈/금융,렌탈/배달/케어,Living / Rental Services
3196360,1,1,2,0,A01,20190911,16:15,22432,NaN,과일선물세트 백화점,...,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3196361,1,1,1,0,A01,20190911,16:14,11880,NaN,과일선물세트,...,unknown,NaN,NaN,NaN,NaN,과일선물세트,과일선물세트,식품,신선식품,Chilled Foods

 * 중복 열 제거

In [144]:
merge_table.drop('act_kwd_over3', axis=1, inplace=True)

In [145]:
merge_table

,clnt_id,sess_id,hit_seq,action_type,biz_unit,sess_dt,hit_tm,hit_pss_tm,trans_id,sech_kwd,...,clnt_gender,clnt_age,clac_nm1,clac_nm2,clac_nm3,pd_c_2,sech_kwd_over_3,sech_kwd_cat_0,sech_kwd_cat_1,sech_clac_nm1
0,72429,1,2,2,A03,20190919,22:09,842130,NaN,NaN,...,unknown,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,72429,1,1,1,A03,20190919,22:09,839064,NaN,NaN,...,unknown,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,72428,5,1,0,A01,20190918,06:37,12568,NaN,라인에디션블라우스,...,unknown,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,72428,4,1,0,A01,20190914,23:42,243555,NaN,펜디가방,...,unknown,unknown,NaN,NaN,NaN,NaN,펜디가방,명품/쥬얼리,수입명품/해외배송,Fashion Accessories
4,72428,3,3,0,A01,20190914,21:50,839771,NaN,페레가모가방,...,unknown,unknown,NaN,NaN,NaN,NaN,페레가모가방,명품/쥬얼리,수입명품/해외배송,Fashion Accessories
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196357,1,2,2,0,A01,20190922,14:10,56113,NaN,초등가을점퍼,...,unknown,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3196358,1,2,1,0,A01,20190922,14:09,41584,NaN,초등가을잠바,...,unknown,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3196359,1,1,3,0,A01,20190911,16:15,36140,NaN,과일바구니,...,unknown,unknown,NaN,NaN,NaN,NaN,과일바구니,여행/렌탈/금융,렌탈/배달/케어,Living / Rental Services
3196360,1,1,2,0,A01,20190911,16:15,22432,NaN,과일선물세트 백화점,...,unknown,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3196361,1,1,1,0,A01,20190911,16:14,11880,NaN,과일선물세트,...,unknown,unknown,NaN,NaN,NaN,NaN,과일선물세트,식품,신선식품,Chilled Foods

In [162]:
merge_table.to_csv("merge_sech_clac_nm1.csv")

### 대분류(clac_nm1) 관련 EDA

 * 온라인 행동 정보를 활용하여 대분류 설정 : 1572140개

In [161]:
len(merge_table[merge_table['sech_clac_nm1'].isna() == False])

1572140

 * 실제 구매이력으로 부터 대분류 정보가 있는 갯수 : 5733개

In [160]:
len(merge_table[merge_table['clac_nm1'].isna() == False])

5733

 * 실제 구매한 상품의 대분류와 , 검색어를 통해 확인한 대분류의 차이 : 802개 다름

In [157]:
merge_table[['clac_nm1', 'sech_clac_nm1']][(merge_table['clac_nm1'].isna() == False) & (merge_table['sech_clac_nm1'].isna() == False) & (merge_table['clac_nm1'] != merge_table['sech_clac_nm1'])]

                                   clac_nm1                   sech_clac_nm1
1712                              Beverages                     Snack Foods
1793              Cell Phones / Accessories         Cosmetics / Beauty Care
9110                                 Grains                    Cooked Foods
9166                                 Fruits                   Chilled Foods
9176                                 Grains                   Chilled Foods
...                                     ...                             ...
3173753  Refrigerators and Washing Machines   Heating / Cooling Electronics
3187821                      Kids' Clothing  Birth Supplies / Baby Products
3193697                              Grains                   Chilled Foods
3196194                           Beverages   Books / Records / Instruments
3196315                           Beverages                     Snack Foods

[802 rows x 2 columns]